<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Exclude>[GameServer]GameServer.Migrations.*</Exclude>
          <Exclude>[GameServer]GameServer.Program</Exclude>
          <Exclude>[GameServer]*Program*</Exclude>
          <ExcludeByFile>**/Migrations/*.cs</ExcludeByFile>
          <ExcludeByFile>**/obj/**/*.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>